Source: audio-thumbnailer
Maintainer: Livanh <livanh@bulletmail.org>
Section: gnome
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: audio-thumbnailer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, sox, ffmpeg, eyed3, imagemagick, vorbis-tools, mbp-tools
Priority: optional
Section: gnome
Description: Thumbnailer for audio files 
 This script creates thumbnails for audio files in Nautilus, Nemo, PCManFM, and other file managers following GNOME conventions. It uses embedded album art images (if availabe), otherwise it uses SOX to generate the spectrogram of the file.
